/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;    
    /* cuon co tro chuot */
}

/* Common */
.row {
    margin-right: -8px;
    margin-left: -8px;
}

.row::after {
    display: block;
    content: "";
    clear: both;
}

.col {
    float: left;
    padding: 0 8px;
}

.col-third {
    width: 33.33333%;
}

.col-half {
    width: 50%;
}

.col-full {
    width: 100%;
}

.text-white {
    color: #fff !important;
}

.pull-right {
    float: right;
}

.btn {
    display: inline-block;
    text-decoration: none;
    background-color: #000;
    color: #fff;
    padding: 10px 15px;
    border: none;
    text-align: center;
}

.btn:hover {
    background-color: #ccc;
    color: #000;
    cursor: pointer;
}

.mt-8 {
    margin-top: 8px;
}

.mt-16 {
    margin-top: 16px;
}

/* Main */
#header {
    position: fixed;
    /* overflow: hidden; */
    height: 46px;
    background-color: #000;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
}

#nav {
    display: inline-block;
}

#nav > li {
    display: inline-block;
    position: relative;
}

#nav > li > a {
    color: #fff;
    text-transform: uppercase;
}

#nav li a {
    display: block;
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    font-size: 15px;
}

#nav .subnav li:hover a,
#nav > li:hover > a {
    background-color: #ccc;
    color: #000;
}

#nav li:hover .subnav {
    display: block;
}

#nav .subnav {
    position: absolute;
    display: none;
    min-width: 160px;
    background-color: #fff;
    list-style: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav .subnav a {
    color: #000;
    padding: 0 12px;
    line-height: 38px;
}

#nav li .nav-arrow-down {
    font-size: 14px;
}

#header .mobile-menu-btn {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
}

#header .mobile-menu-btn,
#header .search-btn {
    float: right;
    padding: 0 21px;
}

#header .mobile-menu-btn:hover {
    color: #000;
    background-color: #ccc;
}

#header .search-btn:hover {
    background-color: #f44336;
    cursor: pointer;
}

#header .menu-icon,
#header .search-icon {
    /* font-size: 20px; */
    color: #fff;
    line-height: 46px;
}

#slider {
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url('../img/slider/slider1.jpg') top center / cover no-repeat;
}

#slider .text-content {
    position: absolute;
    bottom: 47px;
    color: #fff;
    left: 50%;
    transform: translateX(-50%);
}

#slider .text-heading {
    text-align: center;
    padding-bottom: 22px;
    font-weight: 500;
    font-size: 24px;
}

#slider .text-description {
     font-size: 15px;
     font-weight: 600;
}

#content .content-section {
    padding: 64px 0;
    width: 800px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

#content .content-section .section-heading {
    padding: 10px 0;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 4px;
}

#content .content-section .section-sub-heading {
    padding: 15px 0;
    font-size: 15px;
    text-align: center;
    opacity: 0.6;
    font-style: italic;
}

#content .content-section .about-content {
    /* padding: 15px 0 ; */
    font-size: 15px;
    text-align: justify;
    line-height: 1.5;
}

#content .member-list {
    padding: 32px 0;
    margin-bottom: 16px;
    text-align: center;
}

#content .member-name {
    text-align: center;
    padding: 15px 0 ;
    font-size: 15px;
}

#content .member-img {
    width: 154px;
    border-radius: 4px;
    /* margin-bottom: 16px; */

}

/* Tour Section */
.tour-section {
    background-color: #000;
}

.ticket-list {
    background-color: #fff;
    list-style: none;
    margin-top: 25px;
}

.ticket-list li {
    font-size: 15px;
    padding: 8px 16px;
    color: #757575;
    border-bottom: 1px solid #ddd;
}

.ticket-list .sold-out {
    margin-left: 16px;
    background-color: #f44336;
    color: #fff;
    padding: 3px 4px;
}

.ticket-list .quantity {
    float: right;
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    margin-top: -3px;
}

.place-list {
    margin-top: 32px;
    margin-bottom: 48px;
}

.place-img {
    width: 100%;
    display: block;
}

.place-img:hover {
    opacity: 0.6;
}

.place-content {
    background-color: #fff;
    padding: 16px;
    font-size: 15px;
}

.place-heading {
    font-size: 15px;
    font-weight: 600;
    padding-bottom: 20px;
}

.place-time {
    opacity: 0.6;
}

.place-desc {
    padding: 20px 0;
    line-height: 1.5;
}

/* CONTACT */
.contact-content {
    padding: 32px 0;
}

.contact-info {
    font-size: 18px;
    line-height: 1.5;
}

.contact-info i[class*="ti-"] {
    width: 30px;
    display: inline-block;
}

.contact-form {
    font-size: 15px;
}

.form-control {
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}

.map-section img {
    width: 100%;
}

#footer {
    padding: 64px 16px;
    text-align: center;
}

#footer .social-list {
    font-size: 24px;
}

.social-list a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
    /* font-size: 24px; */
}

.social-list a:hover {
    color: rgba(0, 0, 0, 0.4);
}

.copy-right, .copy-right a {
    color: rgba(0, 0, 0, 0.6);
    font-size: 15px;
}

.copy-right {
    padding: 15px 0;
}

/* MODAL */

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    /* display: flex; */
    align-items: center;
    justify-content: center;
    display: none;
}

.modal.open {
    display: flex;
}

.modal-container {
    background-color: #fff;
    width: 900px;
    margin: auto;
    position: relative;
    animation: modalFadeIn ease .5s;
}

.modal-header {
    height: 129px;
    background-color: #009688;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
}

.modal-text-heading {
    margin-left: 16px;
    letter-spacing: 4px;
}

.modal-close {
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    font-size: 14px;
    padding: 16px;
}

.modal-close:hover {
    background-color: #ccc;
    color: #000;
    cursor: pointer;
}

.modal-body {
    padding: 15px;
}

.modal-label {
    display: block;
    font-size: 15px;
    margin-bottom: 15px;
}

.modal-input {
    font-size: 15px;
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
    border: 1px solid #ccc;
}

.modal-pay-btn {
    width: 100%;
    background-color: #009688;
    color: #fff;
    text-align: center;
    padding: 18px;
}

.modal-pay-btn:hover {
    background-color: #ccc;
    color: #000;
    cursor: pointer;
}

.modal-footer {
    padding: 15px;
    font-size: 15px;
}

.close-btn {
    background-color: #f44336;
    text-decoration: none;
    color: #fff;
    padding: 10px 21px;
    display: inline-block;
    text-align: center;
    /* font-size: 15px; */
}

.close-btn:hover {
    background-color: #ccc;
    color: #000;
    cursor: pointer;
}

.modal-help {
    float: right;
}

.modal-help a {
    color: #2196F3;
}

@keyframes modalFadeIn {
    from {
        transform: translateY(-200px);
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}




